<div style="display: flex; flex-direction: column; 
            align-items: center; justify-content: center; height: 80vh;">

    <h1 style="margin-bottom: 20px;">Order Placed Successfully</h1>
    <a href="/user/orders" class="btn btn-success">View Order</a>
</div>